importFrom(AnnotationDbi,as.list)
import(BSgenome.Hsapiens.UCSC.hg19)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(Homo.sapiens)
import(Biobase)
import(GenomicRanges)
import(Rsamtools)
import(GenomicAlignments)
import(methods)
export(plotCoverage)
export(is.fSet)
exportPattern("^[[:alpha:]]+")
useDynLib("chimera")
