importFrom(GenomicRanges, GAlignments)
importFrom(AnnotationDbi,as.list)
import(BSgenome.Hsapiens.UCSC.hg19)
import(Biobase)
import(Rsamtools)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(methods)
import(org.Hs.eg.db)
import(org.Mm.eg.db)
export(plotCoverage)
export(is.fSet)
exportPattern("^[[:alpha:]]+")
